click
colorama
Flask
Flask-MySQL
importlib-metadata
itsdangerous==2.0.1
Jinja2
MarkupSafe
PyMySQL
Werkzeug
zipp
timeago
Requests
SQLAlchemy
PyYAML
Flask-RESTful
Flask-SQLAlchemy
flask_cors
PyJWT
flask_bcrypt
mailjet_rest
flask_mail
razorpay
gunicorn
pyuwsgi
mysql-connector-python
python-dotenv
timeago
sentry-sdk[flask]
language_tool_python
pylatexenc
